<div class="row marketing">
  <div class="col-lg-6">
    <h4> <%= t('about.what_are_kanji_label') %></h4>
    <p> <%= t('about.what_are_kanji_content') %> </p>

    <h4><%= t('about.lots_of_kanji_label') %></h4>
    <p><%= t('about.lots_of_kanji_content') %></p>

    <h4><%= t('about.too_many_kanji_label') %></h4>
    <p><%= t('about.too_many_kanji_content') %></p>

    <h4><%= t('about.trenjas_role_label') %></h4>
    <p><%= t('about.trenjas_role_content') %></p>

    <h4><%= t('about.learning_strategy_label') %></h4>
    <p><%= t('about.learning_strategy_content') %></p>

    <h4><%= t('about.contributing_label') %></h4>
    <p><%= t('about.contributing_content_html') %></p>
  </div>
</div>
