<div class="row marketing">
  <div class="col-lg-6">
    <h2> <%= t('api.header') %> </h2>

    <h3> <%= t('api.trending_kanji.title') %> </h3>
    <h4> <%= t('api.trending_kanji.endpoint_label') %> </h4>
    <p>api/v1/kanji.json</p>
    <h4> <%= t('api.trending_kanji.http_verb_label') %> </h4>
    <p>GET</p>
    <h4> <%= t('api.trending_kanji.description_label') %> </h4>
    <p> <%= t('api.trending_kanji.description_content') %> </p>

  </div>
</div>
